<div
  class="bg-cover min-h-screen w-screen bg-no-repeat bg-center lg:bg-right | flex flex-col lg:flex-row lg:justify-end items-center justify-center"
  style="
    background-image: url('../../../../../assets/img/login-background.png');
  "
>
  <!-- LOGIN FORM -->
  <div
    class="bg-gray-100 | flex flex-col gap-6 lg:gap-7 | w-10/12 lg:w-3/5 lg:min-h-screen | py-9 lg:py-32 px-6 lg:px-40 | rounded-xl lg:rounded-none"
  >
    <!-- FORM HEAD -->
    <div class="flex flex-col gap-2 lg:mb-3">
      <img
        src="../../../../../assets/svg/isotipo.svg"
        alt="My MedCord"
        class="w-8 h-8 lg:absolute lg:bottom-8 lg:right-8"
      />

      <div>
        <h1
          class="text-accent text-2xl lg:text-7xl lg:leading-snug font-medium"
        >
          ¡Hola!
        </h1>
        <span class="text-gray-20 lg:text-2xl font-medium lg:font-normal"
          >Inicia sesión en tu cuenta</span
        >
      </div>
    </div>

    <!-- FORM BODY -->
    <form class="flex flex-col gap-7" [formGroup]="loginForm">
      <div>
        <label for="email" class="font-medium text-gray-20"
          >Correo electrónico</label
        >
        <input
          type="text"
          id="email"
          class="h-12 w-full px-3 rounded-md | text-sm | border border-gray-80 focus:outline-accent"
          formControlName="email"
        />
      </div>

      <div>
        <label for="password" class="font-medium text-gray-20"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          class="h-12 w-full px-3 rounded-md | text-sm | border border-gray-80 focus:outline-accent"
          formControlName="password"
        />
      </div>
    </form>

    <!-- FORM FOOTER -->
    <div>
      <button
        type="button"
        value="Iniciar sesión"
        class="w-full lg:w-auto lg:px-6 rounded-md | h-12 | font-medium tracking-widest"
        [disabled]="loginForm.invalid"
        [ngClass]="{
          'bg-accent-light text-gray-50': loginForm.invalid,
          'bg-accent text-gray-100': loginForm.valid
        }"
        (click)="login()"
      >
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
