<div class="flex flex-col gap-8">
  <div class="flex flex-row items-center justify-between px-6 lg:mt-28">
    <h2 class="text-gray-20 lg:text-3xl">Registro de usuarios</h2>
    <button
      type="button"
      class="rounded-md | h-12 px-3 | font-medium tracking-widest bg-accent text-gray-100"
      routerLink="/addUser"
    >
      Agregar
    </button>
  </div>
  <div class="overflow-x-scroll px-6 pb-6">
    <table class="w-full table-auto">
      <thead class="bg-accent-light lg:h-14 text-gray-20">
        <tr>
          <th class="pl-6 pr-16 rounded-tl-xl">DNI</th>
          <th class="pr-16">Apellidos</th>
          <th class="pr-16">Nombres</th>
          <th class="pr-16">Celular</th>
          <th class="pr-16">Correo electrónico</th>
          <th class="pr-16">Rol</th>
          <th class="pr-16">Permiso</th>
          <th class="pr-16 rounded-tr-xl">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-100 h-16">
          <td
            colspan="8"
            class="lg:text-center pl-6 rounded-b-xl shadow-lg text-gray-20"
            *ngIf="!users?.length"
          >
            Aún no existen registros
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
